*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* overflow: hidden;  */
}
body{
    width: 110%;
    background-size: cover;
   
    background-repeat:  no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list ul{
    display: flex;
    gap: 30px;
    /* font-weight: 500px; */
    align-items: center;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}
.list ul li a:hover{
    font-weight: 900;
    text-decoration: underline;
}
.logo img{
    width: 150px;
}
.logo img:hover{
    width: 155px;
    cursor: pointer;
}
.main_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.left_section{
    width: 60%;
    position: relative;
    top: -200px;
    background-image: url(/image/stethoscope.png);
    
}
.right_section{
    width: 40%;
    position: relative;
    left: 60px;
    
}
.right_section img{
    width: 400px;
}
.main_section_heading h1{
    font-size: 50px;
    font-weight: 900;
}
.main_section_paragraph{
    font-weight: 100;
    font-size: 16px;
}
.left_section button{
    padding: 10px 20px 10px 20px;
    font-size: 20px ;
    font-weight: 500;
    border: 1px solid white;
    background-color: rgb(74, 207, 150);
    border-radius: 30px;
    color: white;
}
.main_section_btn{
    display: flex;
    justify-content: space-between;
}
.mainsection_btn div{
    display: flex;
    flex-direction: column;
}
.Mouse_img{
    margin-left: 10px;
    cursor: pointer;
}


  .green_img {
    position: absolute;
    top: 100px;
    z-index: 1;
  }
  .yellow_img{
    position: relative;
    z-index: 2;
    top: 150px;
    left: 30px;
  }
  .doctor_img{
    position: relative;
    top: -330px;
    z-index: 3;
  }
  .footerAngle{
    al


  }

